#
# THIS FILE IS MANAGED BY PUPPET
# <%= file %>
#

127.0.0.1	localhost
<%= scope.lookupvar('::ipaddress_primary') %>	<%= scope.lookupvar('::fqdn') %>	<%= scope.lookupvar('::hostname') %>

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
<% if scope.lookupvar('::ipaddress6') -%>
<%= scope.lookupvar('::ipaddress6') %>	<%= scope.lookupvar('::fqdn') %>	<%= scope.lookupvar('::hostname') %>
<% end -%>
